{% extends "layout.html" %}

{% block nav %}
{% endblock %}

{% block body %}

    <div class="heading m-t-3 m-b-2">
        <h1 class="display-4 text-xs-center m-b-0">
            Search
        </h1>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form action="{{ url_for('search') }}" method="GET">
                <div class="input-group">
                    <input class="form-control" type="text" name="q" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

{% endblock %}