{% extends "layout.html" %}

{% block body %}

  <div class="m-t-3 m-b-2">
      <h1 class="display-2 text-xs-center m-b-0">
          404
      </h1>
  </div>

  <div class="m-t-3 m-b-2">
      <h3 class="text-xs-center m-b-0">
          We couldn't find the page..
      </h3>
  </div>

  <div class="text-xs-center col-md-offset-3 col-md-6">
    <p>Sorry, but the page you are looking for was either not found or does not exist. Try refreshing the page or click the link below to go back to the Homepage.</p>
    <p><a class="btn" href="/">Home</a></p>
  </div>

{% endblock %}